@using Bank.Common.Extensions
@model Bank.Application.Customers.Queries.GetCustomerDetails.CustomerDto
@{
    ViewData["Title"] = "Customer details";
}

<div class="container pb-3 pt-3">

    @if (TempData["Message"] != null)
    {
        <partial name="_AlertSuccess" />
    }

    <div class="row">
        <div class="col-4">
            <h5 class="pb-1"><i class="far fa-user"></i> Profile</h5>
            <address>
                <strong><i class="fas fa-id-card-alt"></i> #@Model.CustomerId @Model.FullName</strong><br>
                @Model.Address.StreetAdress<br>
                @Model.Address.ZipCode @Model.Address.City, @Model.Address.Country<br>
                <abbr title="Phone">Phone:</abbr> @Model.WritePhoneNumber
            </address>
            <p>
                <i class="fas fa-birthday-cake"></i> Birthday: @Model.PrintBirthday()<br />
                <i class="fas fa-flag"></i> National ID: @Model.NationalId<br />
                @switch (Model.Gender)
                {
                    case "Male":
                        <i class="fas fa-mars"></i> @Model.Gender
                        break;
                    case "Female":
                        <i class="fas fa-venus"></i> @Model.Gender
                        break;
                    default:
                        <span>>Gender:@Model.Gender</span>
                        break;
                }
            </p>
            <address>
                <i class="fas fa-envelope"></i> <a href="mailto:@Model.EmailAdress">@Model.EmailAdress</a>
            </address>
        </div>
        @if (Model.Cards.Any())
        {
            <div class="col-6">
                <h5 class="pb-1"><i class="far fa-credit-card"></i> Credit Cards</h5>
                @foreach (var card in Model.Cards)
                {
                    <p>
                        @card.CcType @card.Type <br />
                        @card.CcNumber <br />
                        Issued: @card.Issued.Date.ToString("yyy-MM-dd") <br />
                        Expiration: @card.ExpM/@card.ExpY<br />
                    </p>
                }
            </div>
        }
        <div class="col-2">
            <a class="btn btn-outline-primary" asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.CustomerId">Edit Customer</a>
        </div>
    </div>

</div>

<div class="container pt-5">
    <div class="table-responsive">
        <table class="table table-striped table-sm w-75 offset-2">
            <thead class="text-center">
                <tr>
                    <th>Account number</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var acc in Model.Accounts)
                {
                    <tr>
                        <th scope="row"><a asp-controller="Account" asp-action="Details" asp-route-id="@acc.AccountId">@acc.AccountId</a></th>
                        <td>@acc.Balance.ToSwedishKrona()</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th class="text-right">Total Balance: @Model.TotalBalance</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
